#!/bin/sh

# This wrapper script allows SystemD to feed a file containing a passphrase into
# the main Elasticsearch startup script

if [ -n "$ES_KEYSTORE_PASSPHRASE_FILE" ] ; then
  exec {{ _elasticsearch_exec_path }}/elasticsearch "$@" < "$ES_KEYSTORE_PASSPHRASE_FILE"
else
  exec {{ _elasticsearch_exec_path }}/elasticsearch "$@"
fi
